@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TriangleInfo</h1>
    <p>Info about triangle <a href="http://localhost:53367/Triangle/Ret?id=21">building Web apps with ASP.NET Core</a>.</p>
</div>
