@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TriangleInfo</h1>
    <p> <a href="http://localhost:53367/Triangle/Info?side1=10&side2=20&side3=25">Info about triangle [10,20,25]</a>.</p>
</div>
