@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TriangleInfo</h1>
    <p>Info about triangle <a href="http://localhost:44313/Triangle/Area?side1=10&side2=20&side3=25">building Web apps with ASP.NET Core</a>.</p>
</div>
